@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap');

:root{
    --cor-primaria: #102542;
    --cor-secundaria: #e1eec3;
    --cor-terciaria: #f87060;
    --cor-hover: #f4efca;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    display: flex;
    color: var(--cor-terciaria);
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    padding: 4px 8px;
}
.cabecalho__menu__link:hover{
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    padding: 8px 16px;
    transition: 0.5s;
}
.cabecalho__menu__link:not(:hover){
    transition: 0.3s;
}
.cabecalho__menu__link:active{
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
}
.apresentacao__conteudo{
    width: 150%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    font-weight: 400;
}
.apresentacao__conteudo__texto a{
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao__links__subtitulo{
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    background-color: var(--cor-primaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    font-weight: 600;
}
.apresentacao__links__navegacao:hover{
    padding: 30px;
    background-color: var(--cor-hover);
    color: var(--cor-primaria);
    cursor: pointer;
    transition: 0.5s;
}
.apresentacao__links__navegacao:not(:hover){
    transition: 0.5s;
}

.images__conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 5% 0% 0% 0%;
}
.apresentacao__imagem{
    width: 100%;
    border: #f87060 2px solid;
    border-radius: 8px;
}
.apresentacao__imagem__logo{
    width: 40%;
}

.rodape{
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 1.5rem;
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 24px;
    font-weight: 400;
}
.rodape__comming__soon{
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.5rem;
}

@media (max-width: 1200px){
    .cabecalho{
        padding: 10% ;
    }
    .cabecalho__menu{
        justify-content: center;
        gap: 20px;
    }
    .cabecalho__menu__link{
        width: auto;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
        gap: 10px;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}